@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

@import "../../../node_modules/locomotive-scroll/src/locomotive-scroll.scss";
@import "../../../node_modules/aos/src/sass/aos.scss";

section {
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
}
a {
    border-bottom: 1px solid currentColor;
    margin: 0 auto;
}
#intro {
    background: rgb(0, 156, 247);
    color: $white;
    a {
        color: $white;
    }
}
#section-1 {
    background: lightgreen;
    position: relative;
}
#section-2 {
    background: rgb(27, 21, 21);
    position: relative;
    color: white;
}

#section-3 {
    background: lightskyblue;
    position: relative;
}
#section-4 {
    background: rgb(30, 1, 68);
    position: relative;
    background-size:cover;
    background-repeat:no-repeat;
    color: $white;
    h1 {
        font-weight: 700;
    }
}
#bucket-container {
    background: lightpink;
    position: relative;
}

.bucket-container {
    position: relative;
    margin-top: 200px;
    img {
        transition: all 1s;
        &.bucket {
            // transform: translateY(200px);
            // opacity: 1;
        }
        &.text {
            transform: translateX(200px);
            opacity: 0;
        }
        // opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.in-view {
        img.piece-4 {
            top: -20px;
        }
        img.piece-3 {
            top: -70px;
        }
        img.piece-2 {
            top: -100px;
        }
        img.piece-1 {
            top: -140px;
        }
        img.text {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

.bcg-parallax {
    background: black;
    color: white;
    text-align: center;
    position: relative;
    text-shadow: 0 0 20px black;
    background: black;
    padding: 0;
    overflow: hidden;
}
.bcg {
    background: url("../img/salad-image.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    opacity: 0.6;
    z-index: 1;
}
.content-wrapper {
    z-index: 2;
    position: relative;
    padding: 50px;
}

#pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    section,
    .panel {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(100%);
        &#intro,
        &.blue {
            transform: translateY(0%);

            //  100%; /* relative to parent -> 25% of 400% = 100% of window width */
            // float: left;
        }
    }
}

#slideContainer {
    width: 100%;
    /* to contain 4 panels, each with 100% of window width */
    height: 100%;
}

// #slideContainer section {
//     height: 100%;
//     width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
//     float: left;
// }

.blue {
    background: blue;
}
.turqoise {
    background: turquoise;
}
.green {
    background: green;
}
.bordeaux {
    background: brown;
}

#chicken {
    max-width: 200px;
    position: relative;
    top: 50%;
    filter: drop-shadow(0 4px 3px rgb(23, 23, 99));
    z-index: 2000;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand_variable.ttf") format("truetype-variations");
    font-weight: 1 999;
}

h1,
h2 {
    font-weight: 100;
    transition: all 0.2s;
    letter-spacing: 0;
}

section.is-in-view {
    h1,
    h2 {
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 300%;
    }
}

section img {
    &.visible {
        opacity: 1;
    }
}

.cell,
.grid-x,
.grid-container {
    height: 100%;
}
.cell {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

section.reveal-cells {
    .cell {
        opacity: 0;
        &:first-of-type {
            transform: translateX(-100%);
        }
        &:nth-of-type(2) {
            transform: translateX(100%);
        }
    }
}
.grill-container {
    position: relative;
}
#grill-img {
    position: relative;
}
#fire-grill-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#catsraunaut {
    position: absolute;
    left: -300px;
    bottom: -350px;
    max-width: 300px;
}
