
<div>
  <div class="grid-container">
    <section>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Welcome to Foundation</h1>
        </div>
      </div>
    </section>



    <section>
      <div class="grid-x grid-padding-x">
        <div class="cell large-6" data-aos="fade-up" data-aos-duration="3000">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
        <div class="cell large-6">
          <h2>First section</h2>
          <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

            Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
        </div>
      </div>
    </section>




    <section>
      <div class="grid-x grid-padding-x ">
        <div class="cell large-4 bucket-container" src="../assets/img/bucket-back.png" alt="">
          <img data-aos="fade-up" data-aos-duration="3000" src="../assets/img/bucket-chicken.png" alt="">
          <img data-aos="fade-up" data-aos-duration="3000" src="../assets/img/bucket-front.png" alt="">
          <img data-aos="fade-up" data-aos-duration="1200" src="../assets/img/piece-4.png" alt="">
          <img data-aos="fade-down" data-aos-duration="1200" src="../assets/img/piece-3.png" alt="">
          <img data-aos="fade-down" data-aos-duration="2000" src="../assets/img/piece-2.png" alt="">
          <img data-aos="fade-down" data-aos-duration="2800" src="../assets/img/piece-1.png" alt="">
        </div>
    </section>


    <!-- <section id="js-target">
      <div class="grid-x grid-padding-x bucket-container">
        <div class="cell large-6" >
          <img  src="../assets/img/bucket-back.png" alt="">
          <img src="../assets/img/bucket-chicken.png" alt="">
          <img src="../assets/img/bucket-front.png" alt="">
        </div>
    </section> -->


    <section>
      <div class="grid-x grid-padding-x">

        <div class="cell large-6">
          <h2>Second section</h2>
          <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

            Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
        </div>
        <div class="cell large-6">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
      </div>
    </section>
    <section>
      <div class="grid-x grid-padding-x">
        <div class="cell large-6">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
        <div class="cell large-6">
          <h2>Third section</h2>
          <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

            Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
        </div>
      </div>
    </section>

  </div>
</div>