<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js "></script>

<div>
  <div class="grid-container">


    <section class="pinned-section" id="intro">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Welcome to Foundation</h1>

        </div>
      </div>
    </section>



    <section class="pinned-section" id="section-1">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
      </div>
      <div class="cell medium-6">
        <h2>First section</h2>
        <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

          Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
      </div>
  </div>
  </section>



  <!-- <section class="pinned-section" class="bcg-parallax">
      <div class="bcg"></div>
      <div class="grid-container content-wrapper"=>
      
        <h1>Section with parallax effect</h1>
        <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

          Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
      </div>
    </section> -->

  <section class="pinned-section" id="bucket-container">
    <div class="grid-x grid-padding-x  bucket-container">
      <div class="cell medium-6 large-6" style="position:relative;" <img class="bucket" src="../assets/img/bucket-back.png" alt="">
        <img class="bucket" src="../assets/img/bucket-chicken.png" alt="">
        <img class="bucket" src="../assets/img/bucket-front.png" alt="">
        <img class="piece-4" src="../assets/img/piece-4.png" alt="">
        <img class="piece-3" src="../assets/img/piece-3.png" alt="">
        <img class="piece-2" src="../assets/img/piece-2.png" alt="">
        <img class="piece-1" src="../assets/img/piece-1.png" alt="">
      </div>
      <div class="cell medium-6" style="position:relative;">
        <img class="text" src="../assets/img/text.png" alt="">

      </div>
  </section>





  <section class="pinned-section" id="section-2">
    <div class="grid-x grid-padding-x">

      <div class="cell medium-6">
        <h2>A not-so-exciting Section</h2>
        <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

          Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
      </div>
      <div class="cell medium-6">
        <img src="../assets/img/salad-image.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="pinned-section" id="section-3">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <img src="../assets/img/salad-image.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <h2>Final Section</h2>
        <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

          Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
      </div>
    </div>
  </section>

</div>
</div>