<div>
  <div class="grid-container" data-scroll-container>
    <section data-scroll-section>
      <div class="grid-x grid-padding-x" data-scroll>
        <div class="large-12 cell">
          <h1>Welcome to Foundation</h1>
        </div>
      </div>
    </section>



    <section data-scroll-section>
      <div class="grid-x grid-padding-x" data-scroll-container>
        <div class="cell large-6" data-scroll data-scroll-speed="1" data-scroll-direction="horizontal">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
        <div class="cell large-6" data-scroll data-scroll-speed="5" data-scroll-direction="horizontal">
          <h2>First section</h2>
          <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

            Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
        </div>
      </div>
    </section>




    <section data-scroll-section>
      <div class="grid-x grid-padding-x ">
        <div class="cell large-4 bucket-container" id="bucket-container" data-scroll-container>

          <img data-scroll  data-scroll-speed="-4" src="../assets/img/bucket-back.png" alt="">
          <img data-scroll   data-scroll-speed="-4" src="../assets/img/bucket-chicken.png" alt="">
          <img data-scroll   data-scroll-speed="-4" src="../assets/img/bucket-front.png" alt="">
          <img data-scroll   data-scroll-speed="0"  src="../assets/img/piece-4.png" alt="">
          <img data-scroll   data-scroll-speed="4"  src="../assets/img/piece-3.png" alt="">
          <img data-scroll   data-scroll-speed="7"  src="../assets/img/piece-2.png" alt="">
          <img data-scroll   data-scroll-speed="12"  src="../assets/img/piece-1.png" alt="">
        </div>
    </section>


    <!-- <section id="js-target">
      <div class="grid-x grid-padding-x bucket-container">
        <div class="cell large-6" >
          <img  src="../assets/img/bucket-back.png" alt="">
          <img src="../assets/img/bucket-chicken.png" alt="">
          <img src="../assets/img/bucket-front.png" alt="">
        </div>
    </section> -->


    <section data-scroll-section>
      <div class="grid-x grid-padding-x">

        <div class="cell large-6" data-scroll data-scroll-speed="1">
          <h2 data-scroll data-scroll-speed="1">Second section</h2>
          <p data-scroll data-scroll-speed="1">Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

            Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
        </div>
        <div class="cell large-6" data-scroll data-scroll-speed="4">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
      </div>
    </section>
    <section data-scroll-section>
      <div class="grid-x grid-padding-x">
        <div class="cell large-6">
          <img src="../assets/img/salad-image.jpg" alt="">
        </div>
        <div class="cell large-6">
          <h2>Third section</h2>
          <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

            Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
        </div>
      </div>
    </section>

  </div>
</div>