<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/ScrollToPlugin.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/TextPlugin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/jquery.ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js "></script>


<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<!-- <div id="pin Container">
  <div id="slide Container">


    <section id="intro">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <h1>Welcome to Foundation</h1>

          </div>
        </div>
      </div>
    </section>


    <section id="section-1">
      <div class="grid-container">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <img src="../assets/img/salad-image.jpg" alt="">
          </div>

          <div class="cell medium-6">
            <h2>First section</h2>
            <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

              Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
          </div>
        </div>
      </div>
    </section>


    <section id="bucket-container">
      <div class="grid-container">

        <div class="grid-x grid-padding-x  bucket-container">
          <div class="cell medium-6 large-6" style="position:relative;" <img class="bucket" src="../assets/img/bucket-back.png" alt="">
            <img class="bucket" src="../assets/img/bucket-chicken.png" alt="">
            <img class="bucket" src="../assets/img/bucket-front.png" alt="">
            <img class="piece-4" src="../assets/img/piece-4.png" alt="">
            <img class="piece-3" src="../assets/img/piece-3.png" alt="">
            <img class="piece-2" src="../assets/img/piece-2.png" alt="">
            <img class="piece-1" src="../assets/img/piece-1.png" alt="">
          </div>
          <div class="cell medium-6" style="position:relative;">
            <img class="text" src="../assets/img/text.png" alt="">

          </div>
        </div>
    </section>


    <section id="section-2">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">

          <div class="cell medium-6">
            <h2>Second section</h2>
            <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

              Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
          </div>
          <div class="cell medium-6">
            <img src="../assets/img/salad-image.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="section-3">
      <div class="grid-container">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <img src="../assets/img/salad-image.jpg" alt="">
          </div>
          <div class="cell medium-6">
            <h2>Third section</h2>
            <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

              Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</div> -->


<div id="pinContainer">
  <div id="slideContainer">
    <section id="intro">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <h1 style="text-align:center;">Delicious Chicken</h1>


          </div>
        </div>
      </div>
    </section>

    <img id="chicken" src="../assets/img/chicken.png">

    <section id="section-1">
      <div class="grid-container">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <div class="grill-container">
              <img id="grill-img" src="../../assets/img/grill-animation/frame-1.png">
              <img id="fire-grill-img" src="../../assets/img/grill-animation/frame-5.png">
            </div>
          </div>

          <div class="cell medium-6">
            <h2>First section</h2>
            <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

              Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
          </div>
        </div>
      </div>
    </section>


    <section id="bucket-container">
      <div class="grid-container">

        <div class="grid-x grid-padding-x  bucket-container">
          <div class="cell medium-6 large-6" style="position:relative;" <img class="bucket" src="../assets/img/bucket-back.png" alt="">
            <img class="bucket" src="../assets/img/bucket-back.png" alt="">
            <img class="bucket" src="../assets/img/bucket-chicken.png" alt="">
            <img class="bucket" src="../assets/img/bucket-front.png" alt="">
            <img class="piece-4" src="../assets/img/piece-4.png" alt="">
            <img class="piece-3" src="../assets/img/piece-3.png" alt="">
            <img class="piece-2" src="../assets/img/piece-2.png" alt="">
            <img class="piece-1" src="../assets/img/piece-1.png" alt="">
          </div>
          <div class="cell medium-6" style="position:relative;">
            <img class="text" src="../assets/img/text.png" alt="">

          </div>
        </div>
    </section>


    <section id="section-2" class="reveal-cells">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">

          <div class="cell medium-6">
            <h2>A not-so-exciting Section</h2>
            <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

              Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
          </div>
          <div class="cell medium-6">
            <img src="../assets/img/salad-image.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="section-3" class="reveal-cells">
      <div class="grid-container">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <img src="../assets/img/salad-image.jpg" alt="">
          </div>
          <div class="cell medium-6">
            <h2>Final Section</h2>
            <p>Facilisis tortor lacus proin vivamus massa lacus morbi gravida orci vel amet diam quam cursus hendrerit interdum a vel elementum erat dolor congue fusce condimentum.

              Tristique felis eget elementum ex tempus congue quisque a ut elit eros molestie condimentum tortor facilisis maecenas rutrum urna facilisis molestie nunc sed arcu morbi.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-4">
      <div class="grid-container">

        <div class="grid-x grid-padding-x">

          <div class="cell medium-12 text-center">
            <h1 id="animate-text"> Still here?</h1>
            <img id="catsraunaut" src="../assets/img/catstraunaut.png" alt="">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script>
  $(function () { // wait for document ready
    // init




    // define movement of panels
    var flightpath = {
      entry: {
        curviness: 1.25,
        autoRotate: true,
        values: [
          { x: 100, y: 0 },
          { x: 300, y: -10 },
          { x: 400, y: -30 },
          { x: 500, y: -50 }
        ]
      },

      leave: {
        curviness: 1.25,
        autoRotate: true,
        values: [

          { x: 600, y: -90 },
          { x: 900, y: 0 },
          { x: 1000, y: -0 },
          { x: $(window).width(), y: -160 },
          { x: $(window).width() + 300, y: -80 },
        ]
      }
    };

    var catflightpath = {
      entry: {
        curviness: 1.25,
        autoRotate: true,
        values: [
          { x: 0, y: 0 },
          { x: 200, y:200 },
          { x: 400, y: -30 },
          { x: 500, y: -50 },
          { x: 800, y: -100 },
          { x: 900, y: -200 },
          { x: 1000, y: -220 },
          { x: 1200, y: -300 },
          { x:$(window).width() - 200, y: -500 },
          { x:$(window).width() , y: -300 },

        ]
      }
    };




    // ** Animate Grill Cover
    // define images
    var grillImages = [
      "../../assets/img/grill-animation/frame-1.png",
      "../../assets/img/grill-animation/frame-1.png",
      "../../assets/img/grill-animation/frame-1.png",
      "../../assets/img/grill-animation/frame-1.png",
      "../../assets/img/grill-animation/frame-1.1.png",
      "../../assets/img/grill-animation/frame-2.png",
      "../../assets/img/grill-animation/frame-2.1.png",
      "../../assets/img/grill-animation/frame-2.2.png",
      "../../assets/img/grill-animation/frame-3.png",
      "../../assets/img/grill-animation/frame-4.png",
      "../../assets/img/grill-animation/frame-5.png",

    ];

    // TweenMax can tween any property of any object. We use this object to cycle through the array
    var objGrill = { curImg: 0 };
    // var textToAnimate = $('#at');

    // ** Animate Grill Cover
    // define images
    var fireImages = [
      "../../assets/img/grill-animation/frame-6.png",
      "../../assets/img/grill-animation/frame-7.png",
      "../../assets/img/grill-animation/frame-8.png",
      "../../assets/img/grill-animation/frame-9.png",
      "../../assets/img/grill-animation/frame-8.png",
      "../../assets/img/grill-animation/frame-9.png",
      "../../assets/img/grill-animation/frame-8.png",
      "../../assets/img/grill-animation/frame-7.png",
      "../../assets/img/grill-animation/frame-8.png",
      "../../assets/img/grill-animation/frame-7.png",
    ];

    var objFire = { curImg: 0 };


    var controller = new ScrollMagic.Controller();

    // ****** MAIN TIMELINE
    var wipeAnimation = new TimelineMax()
      // ** (0)
      .to("#intro", 1, { className: "+=is-in-view", delay: 0.2 })

      // ** Animate Chicken 
      .add(TweenMax.to($("#chicken"), 1, { css: { bezier: flightpath.entry }, ease: Power1.easeInOut, delay: -1 }))
      .add(TweenMax.to($("#chicken"), 4, { css: { bezier: flightpath.leave }, ease: Power1.easeInOut }))


      // ** (1) Bring in First Section 
      .to("#section-1", 1, { y: "0%", delay: -2 })
      .to("#intro", 1, { className: "", delay: 0.2 })
      .to("#section-1", 1, { className: "+=is-in-view ", delay: -2 })

      // ** Animate Grill Cover
      // create tween
      .add(TweenMax.to(objGrill, 1.1,
        {
          curImg: grillImages.length - 1,	// animate propery curImg to number of images
          roundProps: "curImg",				// only integers so it can be used as an array index
          repeat: 0,									// repeat 3 times
          immediateRender: true,			// load first image automatically
          ease: Linear.easeNone,			// show every image the same ammount of time
          onUpdate: function () {
            $("#grill-img").attr("src", grillImages[objGrill.curImg]); // set the image source
          }, delay: -3.3
        }
      ))

      .to('#grill-img', 0.1, { 'opacity': '0' })
      .to('#fire-grill-img', 0.01, { 'opacity': '1', delay: -2.1 })

      // ** (2) Bring in Bucket Section 
      .to("#bucket-container", 1, { y: "0%", delay: 2 })
      .to("#section-1", 0, { className: "", delay: -0.1 })
      // ** Animate Chicken Bucket
      .to('.bucket-container', 0.2, { y: "-100px" })
      .to('.piece-4', 0.2, { y: "-60px" })
      .to('.piece-3', 0.2, { y: "-100px", delay: -0.2 })
      .to('.piece-2', 0.2, { y: "-140px", delay: -0.2 })
      .to('.piece-1', 0.2, { y: "-180px", delay: -0.2 })
      .to('.text', 0.4, { x: "0", "opacity": "1", delay: - 0.3 })


      //  ** (3) Bring in Second Section
      .to("#section-2", 1, { y: "0%", delay: 2 })
      //  ** Animate Second Section Elements
      .to('#section-2 .cell', 0.5, { x: "0%", "opacity": "1", delay: -0.5 })
      .to("#section-2", 1, { className: "+=is-in-view", delay: -0.5 })


      //  ** (4) Bring in Third Section

      .to("#section-3", 1, { y: "0%", delay: 2 })
      .to("#section-2", 1, { className: "", delay: 0.2 })
      //  ** Animate Third Section Elements
      .to('#section-3 .cell', 0.5, { x: "0%", "opacity": "1", delay: -2 })
      .to("#section-3", 1, { className: "+=is-in-view", delay: -1.5 })



      .to("#section-4", 1, { y: "0%", delay: 0.5 })
      .to("#section-3", 1, { className: "", delay: 0.2 })

      .add(TweenMax.to('#animate-text', 2,
        {
          text: "I said Final Section!"
        }
      ))
      .to('#animate-text', 2, { 'color': 'rgb(255, 22, 142)', delay: -2 })

      .to("#section-4", 3, { 'background': " url('../assets/img/stars.png'),#1e0144", delay: 2 })

      // ** Animate Cat
      .to("#catsraunaut", 2, { 'left': "0", 'bottom':'0', delay:3 })

      .add(TweenMax.to($("#catsraunaut"), 10, { css: { bezier: catflightpath.entry }, ease: Power1.easeInOut, delay: -1 }))

    // create scene to pin and link animation
    new ScrollMagic.Scene({
      triggerElement: "#pinContainer",
      triggerHook: "onLeave",
      duration: "700%"
    })
      .setPin("#pinContainer")
      .setTween(wipeAnimation)
      // .addIndicators() // add indicators (requires plugin)
      .addTo(controller);


    // create tween
    var fireTween = TweenMax.to(objFire, 2,
      {
        curImg: fireImages.length - 1,	// animate propery curImg to number of images
        roundProps: "curImg",				// only integers so it can be used as an array index
        repeat: 100,									// repeat 3 times
        immediateRender: true,			// load first image automatically
        ease: Linear.easeNone,			// show every image the same ammount of time
        onUpdate: function () {
          $("#fire-grill-img").attr("src", fireImages[objFire.curImg]); // set the image source
        }
      }
    );
    // build scene
    new ScrollMagic.Scene({ triggerElement: "#section-1", duration: 0 })
      .setTween(fireTween)
      // .addIndicators() // add indicators (requires plugin)
      .addTo(controller);



  });




</script>